{% extends 'list/base.html' %}

{% block content %}
<div class="todo">
  <h1>{{ todo.title }} <p id="buttons"> {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'todo_edit' pk=todo.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href=""><span class="glyphicon glyphicon-trash"></span></a>
    {% endif %} </p></h1>
  {% if todo.deadline_date %}
  <div class="date">
    <p>{{ todo.deadline_date }}</p>
    </div>
    {% endif %}
    <p>{{ todo.text|linebreaksbr }}</p>
  </div>
  {% endblock %}
