.page-header {
  background-color: #272727;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a:active, .page-header h1 a {
  color: #fcfbf9;
  font-size: 36pt;
  text-decoration: none;
}

.page-header h1 a:hover, .page-header h1 a:visited, {
  color: #fcfbf9;
  font-size: 36pt;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
}

.date {
  color: #464646;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.top-menu{
  color: #fcfbf9;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
  margin-top: 20px;
}

.post {
  margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
  color: #000000;
}

#shadow{
  box-shadow: 5px 10px #888888;
  width: 100px;
}
